<!--Dictionary.razor-->
@page "/dictionary"

@using IlterisDictionary.Pages
@using IlterisDictionaryLibrary.ViewModels
@inject Services.SharedData SharedData

<PageTitle>Search Dictionary</PageTitle>

<h1>Dictionary</h1>
<div>
    <input type="text" @bind="@_currentString" />
    <button @onclick=SharedData.LoadDictionaryEntries>Search</button>
</div>

<hr />

<Tabs>
    <Tab Title="Home" Active="true">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Home</b> tab.</p>
        </Content>
    </Tab>
    <Tab Title="Profile">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Profile</b> tab.</p>
        </Content>
    </Tab>
    <Tab Title="Contact">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Contact</b> tab.</p>
        </Content>
    </Tab>
    <Tab Title="About">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>About</b> tab.</p>
        </Content>
    </Tab>
</Tabs>

<table border="1" class="table-bordered" width="100%">
    <thead>
        <tr>
            <th width="14%">Proto-Turkic root</th>
            <th width="14%">Turkish variant</th>
            <th width="14%">Loanword</th>
            <th width="14%">Meaning</th>
            <th width="14%">further reading</th>
            <th width="14%">other variants</th>
            <th width="14%">related to</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var @row in @SharedData.DictionaryEntries)
        {
            <tr>
                <td>@row.ProtoTurkicRoot</td>
                <td>@row.TurkishVariant</td>
                <td>@row.Loanwords</td>
                <td>
                    <div>
                        <a href="@GetMeaningLink(@row)">Show</a>
                    </div>
                </td>
                <td>@row.FurtherReadings</td>
                <td>
                    <div>
                        <a href="">Go to Variants</a>
                    </div>
                </td>
                <td>@row.RelatedTo</td>
            </tr>
        }

    </tbody>
</table>


