<!--Dictionary.razor-->
@page "/dictionary"

@using IlterisDictionary.Pages


@using IlterisDictionaryLibrary.ViewModels


<PageTitle>Search Dictionary</PageTitle>

<h1>Dictionary</h1>
<div>
    <input type="text" @bind="@_currentString" />
    <button @onclick=LoadDictionaryEntries>Search</button>
</div>

<hr />

<table border="1" class="table-bordered" width="100%">
    <thead>
        <tr>
            <th width="14%">Proto-Turkic root</th>
            <th width="14%">Turkish variant</th>
            <th width="14%">Loanword</th>
            <th width="14%">Meaning</th>
            <th width="14%">further reading</th>
            <th width="14%">other variants</th>
            <th width="14%">related to</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var @row in @_dictionaryEntries)
        {
            <tr>
                <td>@row.ProtoTurkicRoot</td>
                <td>@row.TurkishVariant</td>
                <td>@row.Loanwords</td>
                <td>
                    <div>
                        <a href="@GetMeaningLink(@row)">Show</a>
                    </div>
                </td>
                <td>@row.FurtherReadings</td>
                <td>@row.OtherVariants</td>
                <td>@row.RelatedTo</td>
            </tr>
        }

    </tbody>
</table>


